body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.calculator {
    background: #ffffff;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#display {
    width: 90%;
    height: 60px;
    border: none;
    outline: none;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    background: #f0f0f0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
}

button {
    font-size: 18px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #a4a4a4;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #f6f6ab;
}

button:active {
    background: #c8c8c8;
}

button.zero {
    grid-column: span 2;
}

button:last-child {
    background-color: #ff1919;
    color: white;
}

button:last-child:hover {
    background-color: #ff7474;
}
